@{
    ViewBag.Title = "About Zenith Society";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The Zenith Society was established in 1971 as a partnership between the City of North Vancouver and the District of North Vancouver and we are proud to have served one of Canada's most active and healthy communities for more than 40 years.

Our mission is to build healthy individuals, families and communities and we know that recreation and culture are vital to the overall health, wellness and creativity of our community. That's why we provide and facilitate quality municipal recreation and culture programs, services and events that enhance the quality of life for all North Vancouver residents.</p>
