@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    453 West Hampson Ave.<br />
    North Vancouver V6Q 9B3<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ZenithSociety.com">Support@ZenithSociety.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ZenithSociety.com">Marketing@ZenithSociety.com</a>
</address>