@using ZenithWebSite.Controllers;
@model List<HomeController.DayInfo>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <span class="text-info"><h1>Zenith Society</h1></span>
    <p class="lead">Join us for great events!</p>
</div>

<table class="table">

    @foreach (var day in Model)
    {
        // displaying the heading date
        DateTime date = day.Day;
        string headingDate = date.ToLongDateString();
        <tr>
            <th colspan="2" class="text-center label-info">
                @headingDate
            </th>
        </tr>
        foreach (var e in day.Events)
        {
            // displaying the start time
            DateTime startTimeRaw = DateTime.Parse(e.Start.ToString());
            string startTime = startTimeRaw.ToString("hh:mm:tt");

            // displaying end time
            DateTime endTimeRaw = DateTime.Parse(e.End.ToString());
            string endTime = endTimeRaw.ToString("hh:mm:tt");

            // displaying activity description
            string description = e.Description;
            
            <tr>
                <td>
                    @startTime  -
                    @endTime
                </td>            
                <td>
                    @description
                </td>
            </tr>
       }
   }

</table>